:root {
  font-family: var(--fonts);
  font-style: var(--font-style);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

  background-color: var(--bg-secondary);
  color: var(--text-primary);
  -webkit-font-smoothing: true;
  -moz-osx-font-smoothing: true;

}

@import "themes";
@import "thoughts";
@import "utils";
@import "aboutme";
@import "landing_page";
@import "experience";
@import "contactme";
